@import '../colors';
@import "../globals";

.footer-section {
  height: 30vh;
  background: #ff775f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    ul {
      list-style-type: none;
      padding: 0.9rem;
    }
    li:first-child {
      font-size: 1.1rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
  }
  p {
    font-size: 0.8rem;
  }
}
